body{
    background-color:rgba(0, 0, 0, 0.938);
    color: azure;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row ;
}
.card{
    border: 3px;
    margin-top: 5%;
}

h1{
    text-align: center;
    color: rgb(204, 45, 17);
}
img{
    width: 30%;
    height: 20%;
}
h3{
    color: rgb(252, 249, 245);
    background: brown;
}
h4{color: rgba(255, 255, 0, 0.918);}
